{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <body>
      <hr>
        <div class="textPadding">
            <h2 class="title">Crown Project Management Tool:</h2>
            <p style="text-align:left">This web application is a personal project management tool called Crown. You can use it to keep track of your projects and its related tasks and deadlines, with emphasis on a simple, clean interface.

            </p>
            <hr>
        </div>
{% endblock %}





    
    


