{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <body>
        <div class="textPadding">
            <h2 style="margin-bottom:1cm;" class="title">Welcome back to Crown {{ username }}!</h2>
        </div>
        <div class="textPadding">
            <h2 style="margin-bottom:1cm;" class="title">Today is {{ current_date }}</h2>
        </div>
        <div class="textPadding">
            <h1 style="margin-bottom:0.25cm;" class="title">Dashboard</h1>
        </div>
    </body>    

	<div class="tile is-ancestor">
	  <div class="tile is-vertical is-12">
	    <div class="tile">
	      <div class="tile is-parent is-vertical">
	        <article class="tile is-child notification is-danger">
	          <p class="title">Deadlines</p>
	          <table class="table is-bordered is-striped is-hoverable">
				  <thead>
				    <tr>	
				      <th>Date Due</th>		 
				      <th>Project</th>
				      <th>Task</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr>
				  	  <th>September 8, 2020</th>
				  	  <th>Project mgmt app</th>
				  	  <th>Finish the app</th>
			  </table>
	        </article>
	      </div>
	    </div>
	    <div class="tile">
	      <div class="tile is-parent is-vertical">
	        <article class="tile is-child notification is-info">
	          <p class="title">Projects</p>
	          {% if refined_project_names %}
	          {% for project in refined_project_names %}
	          <form method="POST" action="/projects">
	          	<button id=homepage_buttons name=name value="{{ project }}" class="button is-block is-warning is-fullwidth">{{ project }}</button>
	      	  </form>
	      	  {% endfor %}
	      	  {% else %}
	      	  <p class="subtitle">You have no projects, create one using the button above.</p>
	      	  {% endif %}
	        </article>
	      </div>
	      <div class="tile is-parent">
	        <article class="tile is-child notification is-success">
	          <p class="title">Tasks</p>
	          <p class="subtitle">List the tasks, and put a completion button next to them, as well as days left till due.</p>
	        </article>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}



    
    


