{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <body>
        <div class="textPadding">
            <h2 style="margin-bottom:1cm;" class="title">Welcome back to Crown {{ username }}!</h2>
        </div>
        <div class="textPadding">
            <h2 style="margin-bottom:1cm;" class="title">Today is {{ current_date }}</h2>
        </div>
        <div class="textPadding">
            <h1 style="margin-bottom:0.25cm;" class="title">Dashboard</h1>
        </div>
    </body>    

	<div class="tile is-ancestor">
	  <div class="tile is-vertical is-12">
	    <div class="tile">
	      <div class="tile is-parent is-vertical">
	        <article class="tile is-child notification is-danger">
	          <p class="title">Deadlines</p>
	          {% if info %}
	          <table class="table is-bordered is-striped is-hoverable">
				  <thead>
				    <tr>	 
				      <th>Task</th>
				      <th>Date Due</th>	
				      <th>Project</th>
				    </tr>
				  </thead>
				  {% for parameters in info %}
				  <tbody>
				  	<tr>
				  	  <th>{{ parameters[0] }}</th>
				  	  <th>{{ parameters[1] }}</th>
				  	  <th>{{ parameters[2] }}</th>
				  {% endfor %}
			  </table>
			  {% else %}
			  <p class="subtitle">You have no deadlines, add a project and add tasks to those projects to create deadlines.</p>
			  {% endif %}
	        </article>
	      </div>
	    </div>
	    <div class="tile">
	      <div class="tile is-parent is-vertical">
	        <article class="tile is-child notification is-info">
	          <p class="title">Projects</p>
	          {% if refined_project_names %}
	          {% for project in refined_project_names %}
	          <form method="POST" action="/projects">
	          	<button id=homepage_buttons name=name value="{{ project }}" class="button is-block is-warning is-fullwidth">{{ project }}</button>
	      	  </form>
	      	  {% endfor %}
	      	  {% else %}
	      	  <p class="subtitle">You have no projects, create one using the button above.</p>
	      	  {% endif %}
	        </article>
	      </div>
	    </div>
	    <div class="tile">
	      <div class="tile is-parent">
	        <article class="tile is-child notification is-success">
	          <p class="title">Completed Tasks</p>
	          {% if info %}
	          <table class="table is-bordered is-striped is-hoverable">
				  <thead>
				    <tr>
				      <th>Task</th>
				      <th>Date Completed</th>	
				    </tr>
				  </thead>
				  {% for pair in info %}
				  <tbody>
				  	<tr>
				  	  <th>{{ pair[0] }}</th>
				  	  <th>{{ pair[1] }}</th>
				  {% endfor %}
			  </table>
	      	  {% else %}
	      	  <p class="subtitle">You have no tasks, create one using the button below.</p>
			  {% endif %}
	        </article>
	      </div>
	  </div>
	</div>
{% endblock %}



    
    


