{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form action="/login" method="post">
            <div class="field">
                <div class="control">
                    <input class="input is-large" name="username" placeholder="Username" type="text" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" name="password" placeholder="Password" type="password">
                </div>
            </div>

            <button class="button is-block is-dark is-large is-fullwidth">Login</button>
        </form>
    </div>
    </div>    
{% endblock %}